
@import "compass/css3";

$button-size: 40px;

.sr-toolbar {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 600;
	width: $button-size;
	height: $button-size;

	&:hover {
		width: ($button-size*2) + 10px;

		#sr-toast-hide {
			opacity: 1;
			@include transform(none);
		}
	}

	.sr-toast-button {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		cursor: pointer;
		background: rgba(50,50,50,.7);
		height: $button-size;
		width: $button-size;
		line-height: $button-size;
		text-align: center;
		font-size: 13px;
		font-family: sans-serif;
		color: #FFF;
		@include user-select(none);
		@include transition-duration(.4s);
		@include border-radius(100px);

		&:nth-child(2n) {
			right: 50px;
		}

		&:hover {
			text-decoration: none;
			background: rgba(50,50,50,.9);
		}

		&:active {
			background: rgba(50,50,50,1);
			@include transition-duration(.05s);
		}
	}
}


#sr-toast {
	opacity: 0;
	@include transform(scale(.2));

	&.visible {
		opacity: 1;
		@include transform(none);
		@include transition-timing-function(cubic-bezier(0.000, 0.780, 0.190, 1.270));
	}

	img, span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: auto;
		width: 24px;
		display: inline-block;
	}
}

#sr-toast-hide {
	opacity: 0;
	@include transform(scale(.2) translateX(50px));
}